.git
.github
.idea
.vscode

target
**/target

jdk21
jdk21.zip

node_modules
**/node_modules
.next
**/.next
dist
build

*.log
.env
.env.*
effective-pom.xml
server.log
backend-run.log
backend-run.err.log

aura-fitness-web
AuraFitness
